.shadow-button { 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
    background-color: rgb(58, 110, 193);
    color: white;
    font-size: medium;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 100px;
    margin-right: 100px;
}
.shadow-button:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3) ;
}
